* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.navImg {
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.links {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.links a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.leftLinks, .rightLinks {
    display: flex;
    gap: 50px;
}

.leftLinks {
    align-items: flex-start;
}

.navigation {
    border-bottom: 2px solid black;
    position: sticky;
}

.logo {
    cursor: pointer;
}

.greetingSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.greetingText {
    width: 100px;
    z-index: 1;
    margin-bottom: 80px;
}


h3 {
    color: red;
    font-size: 1rem;
}

.greetingImg {
    width: 100%;
    border-radius: 50%;
    background: black;
}



/*========== HEADER MEDIA QUERY============= */
@media screen and (max-width: 600px) {
    .leftLinks, .rightLinks {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }

    .logo {
        display: flex;
        font-size: 1.5rem;
        align-items: center;
    }

    .navigation {
        border-bottom: 2px solid black;
        position: fixed;
        bottom: 0;
        z-index: 2;
        background: lightgray;
        width: 100%;
        
    }

}