* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.navImg {
    height: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.link img {
    background-color: white;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.links {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.links a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: 800;
}

.links p {
    color: crimson;
    font-size: 2rem;
}

.leftLinks, .rightLinks {
    display: flex;
    gap: 50px;
}

.leftLinks {
    align-items: flex-start;
}


.logo {
    cursor: pointer;
}

.greetingSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    gap: 20px;
}

.greetingText {
    width: 100px;
    z-index: 1;
    margin-bottom: 80px;
}

.greetingText span {
    color: crimson;
}

h3 {
    font-size: 1rem;
    margin-left: 40px;
    font-style: italic;
}

.greetingImg {
    width: 100%;
    border-radius: 50%;
    background: black;
}



.socialLinks {
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

.socials img {
    height: 3rem;
}

.about-blurb {
    padding: 30px 15px;
}

.about-blurb span {
    font-size: 40px;
}

/*========== HEADER MEDIA QUERY============= */
@media screen and (max-width: 600px) {
    .leftLinks, .rightLinks {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }

    .links {
        justify-content: space-evenly;
    }

    .logo {
        display: flex;
        font-size: 1.5rem;
        align-items: center;
    }

    .navigation {
        position: fixed;
        bottom: 0;
        z-index: 2;
        background: crimson;
        width: 100%;
        border-top: 3px solid black;
        opacity: 90%;
    }

    .navImg {
        height: 20px;
        border: 3px solid black;
        border-radius: 10px;
        padding: 5px;
    }

    .links a {
       
        color: black;
        
    }

    .links p {
        color: black;
    }

    .logo {
        display: none;
    }

    .about-blurb span {
    font-size: 50px;
    padding: 20px;
    
    color: crimson;
}

    .about-blurb {
        font-size: 1.2rem;
        background-color: black;
        color: white;
        word-spacing: 0.25rem;
    }
}